.prof-container {
    max-width: 800px;
    margin: 40px auto;
    margin-top: 0;
    padding: 30px;
    background-color: #e8ebef;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    font-family: 'Inter', sans-serif;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.prof-pic-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 40px;
    border: 4px solid #ccc;
    margin-left: 250px;
    margin-bottom: 30px;
}

.prof-details {
    flex-grow: 1;
    padding-left: 100px;
    width: 600px;
}

/* Common style for all details */
.prof-detail {
    font-size: 18px;
    font-weight: 400;
    color: #1f1f1f;
    margin: 0;
    padding: 10px;
    background-color: #f7f7f7; /* Background color */
    transition: background-color 0.3s ease; /* Smooth transition */
}

/* Change background color on hover */
.prof-detail:hover {
    background-color: #e0e0e0; /* Background color on hover */
}

.prof-name {
    font-size: 32px;
    font-weight: 700;
    color: #333;
    margin-bottom: 16px;
}

.prof-email a {
    color: #007bff;
    text-decoration: none;
}

.prof-email a:hover {
    text-decoration: underline;
}

/* ProfilePic.css */

.profile-picture-full {
    width: 500px; /* Adjust as needed */
    height: 500px; /* Adjust as needed */
    object-fit: cover; /* Ensures image covers the specified width and height */
    display: block;
    margin: 20px auto; /* Centers the image and provides vertical spacing */
}

.back-button,
.edit-button {
    background: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    margin: 10px; /* Adds space around the buttons */
    margin-left: 100px;
}

.back-button img,
.edit-button img {
    width: 40px; /* Adjust as needed */
    height: 40px; /* Adjust as needed */
}

.button-container {
    text-align: center; /* Centers buttons horizontally */
}

.profile-container {
    text-align: center; /* Centers content horizontally */
    padding: 20px; /* Adds padding around the content */
    background-color: #f9f9f9; /* Sets a light background color */
    border-radius: 10px; /* Rounds the corners of the container */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
}

.background {
    position: fixed; /* Use fixed to ensure the background stays in place */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/homeblur1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    filter: blur(8px); /* Adjust the blur amount */
    z-index: -1; /* Keep the background behind the content */
  }
